<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Detect OSX for other patches</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-OsxDetect.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable power management</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PmEnable.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable GPU acceleration + model string</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-GpuSpoof.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>TB3 hotplug/wakeup fixes</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-TbtOnPCH.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB port injection and fixes</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-Xhci.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>TB USB2 companion for RTD3 power savings</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-TbtCompanion.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>TI PD I2C Controller</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-Hpm.aml</string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>change HDAS to HDEF for audio</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				SERBUw==
				</data>
				<key>Replace</key>
				<data>
				SERFRg==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change HS09._UPC to HS09.XUPC for internal USB</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				SFMwORQMX1VQQw==
				</data>
				<key>Replace</key>
				<data>
				SFMwORQMWFVQQw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change HS12._UPC to HS12.XUPC for power managment</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				SFMxMhQtX1VQQw==
				</data>
				<key>Replace</key>
				<data>
				SFMxMhQtWFVQQw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change HS13._UPC to HS13.XUPC for power managment</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				SFMxMxQtX1VQQw==
				</data>
				<key>Replace</key>
				<data>
				SFMxMxQtWFVQQw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change GFX0 to IGPU for IGPU support</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				R0ZYMA==
				</data>
				<key>Replace</key>
				<data>
				SUdQVQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>patch PNP0C09 to PNPFFFF for boot issue workaround</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				QdAMCQ==
				</data>
				<key>Replace</key>
				<data>
				QdD//w==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change HECI to IMEI for IGPU support</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				SEVDSQ==
				</data>
				<key>Replace</key>
				<data>
				SU1FSQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change RP05._INI to RP05.XINI for ICM disable</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				UlAwNQhMVFJaAAhPQkZaAAhMTVNMAAhMTlNMABQqX0lO
				SQ==
				</data>
				<key>Replace</key>
				<data>
				UlAwNQhMVFJaAAhPQkZaAAhMTVNMAAhMTlNMABQqWElO
				SQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change _E20 to XE20 for TB hotplug</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				X0UyMA==
				</data>
				<key>Replace</key>
				<data>
				WEUyMA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>patch XHC.RHUB.GUPC to show ports as external</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				R1VQQwkIUENLRxIHBAAK/w==
				</data>
				<key>Replace</key>
				<data>
				R1VQQwkIUENLRxIHBAAKAw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>patch FADT from mobile profile to desktop to hide Battery from Energy Saver</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				AAIJALIAAACgoQAAABgAAA==
				</data>
				<key>Replace</key>
				<data>
				AAEJALIAAACgoQAAABgAAA==
				</data>
			</dict>
		</array>
	</dict>
	<key>Booter</key>
	<dict>
		<key>Quirks</key>
		<dict>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>DevirtualiseMmio</key>
			<true/>
			<key>ProvideCustomSlide</key>
			<true/>
			<key>RebuildAppleMemoryMap</key>
			<true/>
			<key>SyncRuntimePermissions</key>
			<true/>
		</dict>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x14)</key>
			<dict>
				<key>built-in</key>
				<data>
				AA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>built-in</key>
				<data>
				AA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x0)</key>
			<dict>
				<key>name</key>
				<string>pci14e4,16bc</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x1)</key>
			<dict>
				<key>i2c-channel-number</key>
				<integer>1</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x2)</key>
			<dict>
				<key>i2c-channel-number</key>
				<integer>2</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>name</key>
				<string>pci8086,a102</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>ThunderboltDROM</key>
				<data>
				mgAAAAAAAIaAGnNQgwFkAIaAcyABIQiBgAKAAAAACIKQ
				AYAAAAAIg4AEgAEAAAiEkAOAAQAAAoULhiABAGQAAAAA
				AAOHgAWIUAAABYlQAAAFilAAAAWLUAAACAFJbnRlbAAP
				AkhhZGVzIENhbnlvbgA=
				</data>
				<key>linkDetails</key>
				<data>
				CAAAAAMAAAA=
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>built-in</key>
				<data>
				AA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AwASWQ==
				</data>
			</dict>
		</dict>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>Comment</key>
				<string>Kernel patching</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>Comment</key>
				<string>SMC emulator</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>SMCProcessor.kext</string>
				<key>Comment</key>
				<string>CPU sensor for VirtualSMC</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCProcessor</string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
				<key>Comment</key>
				<string>Video card</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
				<key>Comment</key>
				<string>Sound</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>IntelMausi.kext</string>
				<key>Comment</key>
				<string>Ethernet port 1</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IntelMausi</string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>SmallTreeIntel82576.kext</string>
				<key>Comment</key>
				<string>Ethernet port 2</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SmallTreeIntel82576</string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>OldRadeonX4000HWLibs.kext</string>
				<key>Comment</key>
				<string>Fix GPU panic on boot on 10.14.5+</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/OldRadeonX4000HWLibs</string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>Polaris22MetalFixup.kext/Contents/PlugIns/CSValidateRangeProxy.kext</string>
				<key>Comment</key>
				<string>Required for P22Fixup</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>CSValidateRangeProxy</string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>Polaris22MetalFixup.kext</string>
				<key>Comment</key>
				<string>Fix Metal issues with Polaris22</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Polaris22MetalFixup</string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>USBWakeFixup.kext</string>
				<key>Comment</key>
				<string>Fix USB not waking up display</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/USBWakeFixup</string>
				<key>MatchKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>AppleCpuPmCfgLock</key>
			<true/>
			<key>AppleXcpmCfgLock</key>
			<true/>
			<key>DisableIoMapper</key>
			<true/>
			<key>DisableLinkeditJettison</key>
			<true/>
			<key>PanicNoKextDump</key>
			<true/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Boot</key>
		<dict>
			<key>HibernateMode</key>
			<string>Auto</string>
			<key>LauncherOption</key>
			<string>Full</string>
			<key>LauncherPath</key>
			<string>Default</string>
			<key>PickerAttributes</key>
			<integer>19</integer>
			<key>PickerMode</key>
			<string>External</string>
		</dict>
		<key>Security</key>
		<dict>
			<key>AllowNvramReset</key>
			<true/>
			<key>AllowSetDefault</key>
			<true/>
			<key>ApECID</key>
			<integer>0</integer>
			<key>AuthRestart</key>
			<true/>
			<key>BlacklistAppleUpdate</key>
			<true/>
			<key>ScanPolicy</key>
			<integer>0</integer>
			<key>SecureBootModel</key>
			<string>Disabled</string>
			<key>Vault</key>
			<string>Optional</string>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict/>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>run-efi-updater</key>
				<string>No</string>
				<key>boot-args</key>
				<string>alcid=11 agdpmod=ignore -disablegfxfirmware</string>
			</dict>
		</dict>
		<key>WriteFlash</key>
		<true/>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>Generic</key>
		<dict>
			<key>MLB</key>
			<string>C07823609GUKXPGFB</string>
			<key>ROM</key>
			<data>
			ESIzAAAA
			</data>
			<key>SystemProductName</key>
			<string>Macmini8,1</string>
			<key>SystemSerialNumber</key>
			<string>C07WT1YGJYVX</string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Create</string>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>APFS</key>
		<dict>
			<key>EnableJumpstart</key>
			<true/>
			<key>HideVerbose</key>
			<true/>
			<key>JumpstartHotPlug</key>
			<true/>
		</dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>Drivers</key>
		<array>
			<string>HfsPlus.efi</string>
			<string>OpenCanopy.efi</string>
			<string>OpenRuntime.efi</string>
		</array>
		<key>Input</key>
		<dict>
			<key>KeyForgetThreshold</key>
			<integer>5</integer>
			<key>KeyMergeThreshold</key>
			<integer>2</integer>
			<key>KeySupport</key>
			<true/>
			<key>KeySupportMode</key>
			<string>Auto</string>
		</dict>
		<key>Output</key>
		<dict>
			<key>ProvideConsoleGop</key>
			<true/>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>RequestBootVarRouting</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
